<div class="custom-select">
    <div
        class="option-category"
        (click)="toggleDropdown()"
        [ngClass]="selectedOption ? 'selected' : 'default'"
    >
        @if(selectedOption){
        <img
            [src]="selectedOption.iconPath"
            alt="icon"
            width="16px"
            height="16px"
        />
        <span>{{ selectedOption.title }}</span>

        <img
            src="/icons/Chevron.svg"
            alt="стрелка вниз"
            width="16px"
            height="16px"
        />
        } @else {
        <span>{{ filterCategory }}</span>
        <img
            src="/icons/Chevron.svg"
            alt="стрелка вниз"
            width="16px"
            height="16px"
        />
        }
    </div>

    @if(isDropdownOpen){
    <div class="options">
        <div class="option">
            <div class="empty"></div>
            <span>{{ filterCategory }}</span>
        </div>
        @for (option of options; track option.title) {
        <div class="option" (click)="selectOption(option)">
            <img
                [src]="option.iconPath"
                [alt]="option.title"
                width="16px"
                height="16px"
            />
            <span>{{ option.title }}</span>
        </div>
        }
    </div>
    }
</div>
