@use 'variables';
.task {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: variables.$bg_light;
    border: 1px solid rgba(0, 0, 0, 4%);
    filter: drop-shadow(0 3px 10px rgba(38, 58, 91, 0.05));
    cursor: pointer;
    &__header {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &-key {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: variables.$text-secondary;
            flex-grow: 1;
            text-align: right;
            flex-shrink: 0;
        }
        &-title {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            flex-grow: 2;
            overflow: hidden;
        }
    }
    &__icon-wrapper {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    &__progress-bar {
        width: 100%;
        display: flex;
        gap: 6px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        cursor: pointer;
        &-left {
            display: flex;
            gap: 12px;
        }
    }
    &__status {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__status-progress {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: variables.$active_blue;
    }
    &__executor {
        display: flex;
        color: variables.$text-secondary;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        &-avatar {
            margin-right: 4px;
        }
    }
    &__time {
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: variables.$text-service;
        margin-left: 3px;
    }
}
.hidden-block {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
.task__btns-block {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 12px;
    background-color: white;
    border: 1px solid #ffffff;
    padding: 0px 12px;
    cursor: pointer;
    &.progress {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
        gap: 6px;
    }
}

.task__btns-block .center {
    justify-content: center;
}

.left {
    display: flex;
    gap: 10px;
}
