<div class="content">
    <div class="content__columns">
        <div class="content__column content__column--first">
            <app-tab-block />
            <div class="block block--my">
                <div class="block__header">
                    <img
                        src="/icons/Chevron.svg"
                        alt="icon"
                        width="16px"
                        height="16px"
                    />
                    <h4>Мои</h4>
                </div>
                <div class="block__content"></div>
            </div>
            <div class="block block--not-assigned"></div>
        </div>

        <div class="content__column content__column--second">
            <div class="block block--in-progress"></div>
            <div class="block block--pause"></div>
        </div>
    </div>
</div>
