.container {
    padding: 0 40px;
    overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 40px;
    }
}
