//BackGround
$bg_grayDark: #f1f2f4;
$bg_blocks: #f9fafc;
$bg_fields: #f5f6f8;
$bg_menu: #ffffff;
$bg_light: #ffffff;
$bg_blue: #effaff;
$bg_border: rgba(0, 0, 0, 0.05);
$Divider: #e0e0e0;
// Text
$text-primary: #242424;
$text-text: #5e5e5e;
$text-secondary: #7e7e7e;
$text-service: #b0b0b0;
$Link: #005bd1;
$Link-visited: #528fdf;
//Специальные
$active_blue: #16a4e3;
$green: #1bba69;
$red: #ce0000;
$orange: #ff9000;
$white: #ffffff;
//Ошибки
$blocked: #ff0000;
$critical: #a90c26;
$major: #ed4e4e;
$minor: #ff7002;
$trivial: #b0b0b0;
