@if(accordionTitle === 'В работе' || accordionTitle === 'На паузе'){
<div
    class="not-accordion"
    [ngStyle]="{
    'background-color':
        accordionTitle === 'В работе' ? '#EFFAFF' : 'none',
    
}"
>
    <div class="summary">
        <span
            [ngStyle]="{
                color: accordionTitle === 'В работе' ? '#16a4e3' : '#5e5e5e'
            }"
            >{{ accordionTitle }}:</span
        >
        @if(accordionQuantity > 1){
        <span class="quantity">{{ accordionQuantity }}</span>
        }
    </div>
    <div
        class="accordion__block"
        [ngStyle]="{
            'background-color':
                accordionTitle === 'В работе' ? '#EFFAFF' : '#F9FAFC'
        }"
    >
        @if(tasks){ @for(task of tasks; track task.key){
        <app-task-item [task]="task" [isScrolling]="isScrolling" />
        }@empty { Список задач пуст } }
    </div>
</div>
} @else {
<details open>
    <summary>
        <span>{{ accordionTitle }}:</span>
        @if(accordionQuantity > 1){
        <span class="quantity">{{ accordionQuantity }}</span>
        }
    </summary>
    <div class="accordion__block" (scroll)="onScroll($event)">
        @if(tasks){ @for(task of tasks; track task.key){
        <app-task-item [task]="task" [isScrolling]="isScrolling" />
        }@empty { Список задач пуст } }
    </div>
</details>
}
