@use 'variables';
details > summary::marker {
    display: none;
}
details summary::marker {
    display: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details summary::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/icons/Chevron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

details[open] summary::before {
    background-image: url('/icons/Chevron.svg');
}
details {
    width: 100%;
}
summary {
    display: flex;
    align-items: center;
}
span {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: variables.$text-text;
}
.quantity {
    margin-left: 8px;
}
.accordion__block {
    width: 100%;
    max-height: 751px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 12px;
    border-radius: 8px;
    background-color: variables.$bg_blocks;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
    color: variables.$text-secondary;
    text-align: center;
    font-size: 14px;
    &::-webkit-scrollbar {
        width: 0;
    }
}
.not-accordion {
    background-color: #effaff;
    border-radius: 8px;
    & .summary {
        display: flex;
        align-items: center;
        padding: 12px 12px 0px 12px;
        border-radius: 8px;
        &::before {
            content: '';
            width: 0;
        }
    }
}
