<div class="task-path">
    @if(taskPath){
    <div>
        <img [src]="taskPath.project.icon" alt="taskPath.project.title" />
        <span>{{ taskPath.project.title }} / </span>
    </div>
    <div>
        <img [src]="taskPath.product.icon" alt="taskPath.product.title" />
        <span>{{ taskPath.product.title }} /</span>
    </div>
    <div>
        <span>{{ taskPath.version }} /</span>
    </div>
    <div>
        <img src="/icons/feature.svg" alt="feature-icon" />
        <span>{{ taskPath.feature }} /</span>
    </div>
    } @else {
    {{ taskPath }}
    }
</div>
