@use 'variables';

.task-path {
    color: variables.$text-service;
    margin-bottom: 8px;
}
p {
    display: flex;
    gap: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
